@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "OliveVillage";
  src: url("../../public/fonts/OliveVillage-Regular.ttf") format("truetype");
  font-style: normal;
}

:root {
  --background: #fff8f3;
  --foreground: #2b1a12;
  --primary: #ca0923;
  --primary-600: #ca0923;
  --primary-50: #fff1f3;
  --accent: #f5c6cf;
  --muted: #f9ede7;
  overscroll-behavior: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-600: var(--primary-600);
  --color-primary-50: var(--primary-50);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #fff8f3;
    --foreground: #2b1a12;
    --primary: #d9465a;
    --primary-600: #be3147;
    --primary-50: #fff1f3;
    --accent: #f5c6cf;
    --muted: #f9ede7;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "OliveVillage", cursive;
}

.button-one {
  box-shadow: var(--foreground) -4px 4px 0px;
}

.button-two {
  box-shadow: var(--background) -4px 4px 0px;
}

.button-one {
  box-shadow: var(--foreground) -4px 4px 0px;
  transition: box-shadow 400ms;
}

.button-one:hover {
  box-shadow: var(--foreground) -2px 2px 0px;
}

.button-two {
  box-shadow: var(--background) -4px 4px 0px;
  transition: box-shadow 400ms;
}

.button-two:hover {
  box-shadow: var(--background) -2px 2px 0px;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
